<%- include('../partials/layout-header',{admin, auth}) %>
<div class="about-section" style="margin-top: 20px;">
  <h1>Sobre nós</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

<h2 style="text-align:center">Nosso time</h2>
<div class="row">
  <div class="about-column">
    <div class="about-card">
      <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="about-container">
        <h2>Jane Doe</h2>
        <p class="about-title">Vendedora</p>
        <p>Responsável por acompanhar os clientes.</p>
        <p>jane@example.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="about-column">
    <div class="about-card">
      <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="about-container">
        <h2>Mike Ross</h2>
        <p class="about-title">Gerente de vendas</p>
        <p>Responsável pelo controle de estoque e relatórios.</p>
        <p>mike@example.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
  
  <div class="about-column">
    <div class="about-card">
      <img src="https://www.w3schools.com/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="about-container">
        <h2>John Doe</h2>
        <p class="about-title">Empresário</p>
        <p>Proprietário da empresa.</p>
        <p>john@example.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
</div>
<%- include('../partials/layout-footer') %>
