<%- include('../partials/admin-header') %>
<div class = "product-content">

    <div class="form-container">
        <form action="/add-product" method="post" class="form accessible-font-size">
            <div class="title">
                ADICIONAR NOVO PRODUTO
            </div>

            <input type="text" placeholder="Digite o nome do produto" class="input" name="title">
            <input type="number" placeholder="Digite a quantidade de produtos" class="input" name="qtd">
            <input type="text" placeholder="Digite o valor do produto" class="input" name="value">

            <button type="submit" class="button">INSERIR</button>
        </form>
    </div>
  </div>
<%- include('../partials/admin-footer') %>