<%- include('../partials/layout-header',{admin, auth}) %>


<div class = "checkout-content">

    <div class="form-container-checkout">
        <form action="/checkout" method="post" class="form accessible-font-size">
            <div class="title">
                DADOS DE PAGAMENTO
            </div>

            <input type="hidden" id="testeJr" placeholder="TESTE" class="input" name="productsData" value="">
            <input type="number" placeholder="Digite o número do Cartão" class="input" name="campo1">
            <input type="text" placeholder="Digite o nome do titular do cartão" class="input" name="campo2">
            <input type="text" placeholder="Digite o vencimento do cartão" class="input" name="campo3">
            <input type="number" placeholder="Digite o código de segurança do cartão" class="input" name="campo4">


            <button type="submit" class="button">FINALIZAR COMPRA</button>
        </form>
    </div>
</div>

<%- include('../partials/layout-footer') %>