<%- include('../partials/layout-header') %>
      
        <!-- BANNER DO TOPO -->
        <!-- <div class="banner">
          <div class="texto-flutuante">
            <p class="banner-text">super descontos!</p>
            <p class="banner-subtext">* Preços válidos até data indicada</p>
            <a class="btn" href="#">Saiba mais</a>
          </div>
          <img src="img/banner-produto.jpg" class="banner-img" alt="banner de promoções" />
        </div> -->

        <!-- CARTAS DO MEIO -->
        <div class="meio">
          <% articles.forEach((article)=> { %>
          <div class="cartas-meio">
            <div class="meio-flex">
              <a class="cartas-link" href="https://google.com">
                <i class="ph-wrench"></i>
              </a>
            </div>
            <p class="cartas-meio-titulo"> <%= article.title %> </p>
            <p class="cartas-meio-texto">
                <%= article.description %>
            </p>
          </div>
          <% }) %>
          <!-- <div class="cartas-meio">
            <div class="meio-flex">
              <a class="cartas-link" href="https://google.com">
                <i class="ph-storefront"></i>
              </a>
            </div>
            <p class="cartas-meio-titulo">PERTO DE VOCÊ</p>
            <p class="cartas-meio-texto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea.
            </p>
          </div>
          <div class="cartas-meio">
            <div class="meio-flex">
              <a class="cartas-link" href="https://google.com">
                <i class="ph-newspaper"></i>
              </a>
            </div>
            <p class="cartas-meio-titulo">NOTÍCIAS</p>
            <p class="cartas-meio-texto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea.
            </p>
          </div> -->
        </div>

        <!-- BARRA INFERIOR -->
        <div class="barra-inferior">
          <p class="barra-inferior-texto">
            Cadastre-se para receber novidades e ofertas por email!
          </p>
          <div class="barra-inferior-info">
            <div>
              <input
                class="barra-inferior-nome"
                type="text"
                name="info-nome"
                placeholder="Digite seu nome"
              />
            </div>
            <div>
              <input
                class="barra-inferior-email"
                type="text"
                name="info-email"
                placeholder="Digite seu e-mail"
              />
            </div>
            <button class="botao-inferior">Enviar</button>
          </div>
        </div>

<%- include('../partials/layout-footer') %>