<%- include('../partials/layout-header') %>
<div class="containerLogin">
    <div class="form-container">
        <div class="form">
            <div class="title">
                JÁ TENHO CADASTRO
            </div>

            <input type="text" placeholder="Digite seu usuário" class="input">
            <input type="password" placeholder="Digite sua senha" class="input">

            <button type="submit" class="button">ENTRAR</button>
        </div>

        <div style="background-color: lightgrey; padding: 0.5px; min-height: 100%;"></div>

        <div class="form">
            <div class="title">
                QUERO ME CADASTRAR
            </div>

            <input type="text" placeholder="E-mail *" class="input">
            <input type="password" placeholder="Crie sua senha *" class="input">
            <input type="password" placeholder="Confirme sua senha *" class="input">
            <input type="password" placeholder="CPF ou CNPJ" class="input">
            <input type="password" placeholder="CEP" class="input">

            <button type="submit" class="button button-outlined">CADASTRAR</button>
        </div>
    </div>
</div>

<%- include('../partials/layout-footer') %>