<%- include('../partials/layout-header',{admin, auth}) %>

<div class="container-master">
  <div class="compras-container">
    <div>
      <ul>
        <li>
          <div class="minhas-compras-container">
            <div class="minhas-compras-img">
              <img
                class="compras-img"
                src="https://www.freeiconspng.com/uploads/square-png-31.png"
              />
            </div>
            <div class="minhas-compras-txt">
              <h3>Nome do produto</h3>
              <p>descrição do produto</p>
            </div>
          </div>
        </li>
        <li>
          <div class="minhas-compras-container">
            <div class="minhas-compras-img">
              <img
                class="compras-img"
                src="https://www.freeiconspng.com/uploads/square-png-31.png"
              />
            </div>
            <div class="minhas-compras-txt">
              <h3>Nome do produto</h3>
              <p>descrição do produto</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include('../partials/layout-footer') %>
