<%- include('../partials/layout-header',{admin, auth}) %>

<div class="containerLogin accessible-background-color">
  <div class="form-container">
    <p>Compras teste</p>

    <!-- <div style="background-color: lightgrey; padding: 0.5px; min-height: 100%;"></div>
    
            <form action="/add-user" method="post" class="form accessible-font-size" >
                <div class="title">
                    QUERO ME CADASTRAR
                </div>
    
                <input type="email" placeholder="E-mail *" class="input" name="e_mail">
                <input type="password" placeholder="Crie sua senha *" class="input" name="pass">
                <input type="password" placeholder="Confirme sua senha *" class="input">
                <input type="number" placeholder="CPF ou CNPJ" class="input" name="cpf">
                <input type="number" placeholder="CEP" class="input" name ="cep">
    
                <button type="submit" class="button button-outlined">CADASTRAR</button>
            </div> -->
  </div>
</div>

<%- include('../partials/layout-footer') %>
