<%- include('../partials/admin-header') %>
<div class = "product-content">

    <div class="search-container">
      <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar produto..."/>
        <button type="submit"><i class="fas fa-search"></i></button>
        
      </div>

      <div class="button-add">
        <button id="add-button"> Adicionar Produto</button>

      </div>
    </div>

    <ul id ="product-list">
      <% stock.forEach((stock)=> { %>
      <li>
        <span class="product-text"><%= stock.title %></span>
        <span class="product-quantity"> <%= stock.qtd %></span>
        <div>
          <button class="button-action">
            <i class="far fa-edit"></i>
          </button>
          <button class="button-action">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </li>
      <% }) %>
    <!--  <li>
        <span class="product-text">Produto 2</span>
        <span class="product-quantity"> Qtd: 5</span>
        <div>
          <button class="button-action">
            <i class="far fa-edit"></i>
          </button>
          <button class="button-action">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </li>
      <li>
        <span class="product-text">Produto 3</span>
        <span class="product-quantity" > Qtd: 3</span>
        <div>
          <button class="button-action">
            <i class="far fa-edit"></i>
          </button>
          <button class="button-action">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </li>
      <li>
        <span class="product-text">Produto 4</span>
        <span class="product-quantity"> Qtd: 12</span>
        <div>
          <button class="button-action">
            <i class="far fa-edit"></i>
          </button>
          <button class="button-action">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </li>-->
    </ul>
  </div>
<%- include('../partials/admin-footer') %>