<!doctype html>
<html lang="pt-br">
    <head>
        <title> Estoque </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <meta name="author" content="Lucas Martins">
        <meta name="keywords" content="html5, tecnologia">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="icon" href="img/logo-preto-minimalista.png"/>
        <link rel="stylesheet" href="style/normalize.css">
        <link rel="stylesheet" href="stock.css">
        <link rel="stylesheet" href="relatorio.css">
        <link rel="stylesheet" href="add-product.css">
        <!-- <link rel="stylesheet" href="style/stock-acessibility.css"> -->
       
    </head>
    <body class="no-js">
        
      <div class="cabecario">
      <header class="header">
        <div class="barra-topo">
          <div class="logo-topo" onclick="location.href='/'">
            <img src="img/logo-preto_v2.png" alt="imagem-logo"/>
          </div>
          <button class="login-topo" onclick="location.href='/login-register'">Login / Cadastro</button>
        </div>
      </header>
      </div>
        

        <div class="side-menu"><nav class="main-menu">
          <ul>
              <li>
                  <a href="/">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Tela principal
                      </span>
                  </a>
              </li>
              <li class="has-subnav">
                  <a href="/stock">
                      <i class="fa fa-laptop fa-2x"></i>
                      <span class="nav-text">
                          Estoque
                      </span>
                  </a>
                  
              </li>
              <li class="has-subnav">
                  <a href="#">
                     <i class="fa fa-list fa-2x"></i>
                      <span class="nav-text">
                          Cadastro
                      </span>
                  </a>
                  
              </li>
              <li>
                  <a href="/reports">
                      <i class="fa fa-list-alt"></i>
                      <span class="nav-text">
                          Relatórios e Gráficos
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-font fa-2x"></i>
                      <span class="nav-text">
                         Fontes
                      </span>
                  </a>
              </li>
              <li>
                 <a href="#">
                     <i class="fa fa-table fa-2x"></i>
                      <span class="nav-text">
                          Tabelas
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                     <i class="fa fa-info fa-2x"></i>
                      <span class="nav-text">
                          Ajuda
                      </span>
                  </a>
              </li>
          </ul>

          <ul class="logout">
              <li>
                 <a href="#">
                       <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                          Sair
                      </span>
                  </a>
              </li>  
          </ul>
      </nav>
    </div>