<footer >
    <div class="rodape-esquerda">
      <p><a class="rodape-link" href="#">Lojas</a></p>
      <p><a class="rodape-link" href="#">Promoções</a></p>
      <p><a class="rodape-link" href="#">Categorias</a></p>
      <p><a class="rodape-link" href="#">Notícias</a></p>
      <p><a class="rodape-link" href="#">Contato</a></p>
    </div>
    <div class="rodape-direita">
      <p>
        Copyright © Info Center, Todos os Direitos Reservados. <br />
        Info Center Comércio Ltda. – Matriz – CNPJ: XX.XXX.XXX/XXXX-XX
      </p>
    </div>
  </footer>
</div>

<script>

  function insertParam(){
    let url = new URL('http://localhost:9090/products'); 
    url.searchParams.append('x', 42); 
    // alert(url);
    location.href=url;
  }

  function teste(){
    let body = document.getElementsByTagName('div')[0].style.fontSize = "25px"
  }
</script>
</body>
</html>