<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Center</title>
    <link rel="icon" href="img/logo-preto-minimalista.png" type="text/css" />
    <!-- <link rel="stylesheet" href="style/normalize.css" type="text/css"/> -->
    <link rel="stylesheet" href="home.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link href="products.css" rel="stylesheet" />
    <link href="login.css" rel="stylesheet" />
    <link href="product-detail.css" rel="stylesheet" />
    <link href="product-Cart.css" rel="stylesheet" />
    <link href="checkout.css" rel="stylesheet" />
    <link href="about.css" rel="stylesheet" />
    <link href="contact.css" rel="stylesheet" />
    <!-- <link href="stock.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script type="text/javascript" src="js/home.js"></script>
    <script type="text/javascript" src="js/product-detail.js"></script>
    <script type="text/javascript" src="js/product-Cart.js"></script>
    <script type="text/javascript" src="js/checkout.js"></script>
  </head>
  <body class="accessible-background-color">
    <div class="cabecario accessible-background-color">
      <header>
        <!-- LOGO + PESQUISA + LOGIN -->
        <div class="barra-topo">
          <div class="logo-topo" onclick="location.href='/'">
            <img src="img/logo-preto_v2.png" alt="logo" />
          </div>
          <div class="busca-topo">
            <div>
              <input
                class="busca-topo-campo"
                type="text"
                name="busca-topo"
                placeholder="Buscar..."
              />
            </div>
            <button class="botao-topo">
              <i class="ph-magnifying-glass"></i>
            </button>
          </div>
          <% if(!auth) { %>
          <button class="login-topo" onclick="location.href='/login'">
            Entrar
          </button>
          <% } %> <% if(auth) {%>
          <button class="login-topo" onclick="location.href='/logout'">
            Sair
          </button>
          <% } %>
        </div>
      </header>

      <!-- MENU DO TOPO -->
      <nav style="display: flex; flex-direction: row">
        <div class="barra-nav accessible-font-size">
          <!-- <button class="nav-botao">CATEGORIAS</button> -->
          <button class="nav-botao" onclick="location.href='/products'">
            PRODUTOS
          </button>
          <!-- <button class="nav-botao">PROMOÇÕES</button> -->
          <%if(admin) {%>
          <button class="nav-botao" onclick="location.href='/stock'">
            ESTOQUE
          </button>
          <%}%>
          <button class="nav-botao" onclick="location.href='/about'">
            SOBRE
          </button>
          <button class="nav-botao" onclick="location.href='/contact'">
            CONTATOS
          </button>
          <button class="nav-botao" onclick="location.href='/minhas-compras'">
            MINHAS COMPRAS
          </button>
        </div>
        <div class="accessible-container">
          <button onclick="changeFontSize()" class="accessible-button">
            <span class="fa fa-font accessible-button-icon"></span>
          </button>

          <button
            onclick="changeBackGroundColor()"
            class="accessible-button"
            style="margin-left: 15%"
          >
            <span class="fa fa-adjust accessible-button-icon"></span>
          </button>
        </div>
      </nav>
    </div>

    <div class="conteudo-central accessible-background-color">
      <!--  -->

      <!--  -->
    </div>
  </body>
</html>
