* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* COMEÇO HEADER */

header {
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

.barra-topo {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 20px;
}

.logo-topo {
  width: 210px;
  padding: 5px;
}

.busca-topo {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.busca-topo-campo {
  height: 38px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgb(255, 128, 0);
  padding: 0 10px;
  width: 300px;
}

.botao-topo {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid rgb(255, 128, 0);
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 128, 0);
  display: flex;
  align-items: center;
  color: white;
}

.botao-topo:hover {
  background-color: white;
  color: rgb(255, 128, 0);
  transition-duration: 200ms;
  cursor: pointer;
}

.botao-topo:active {
  background-color: rgb(255, 179, 102);
  color: rgb(209, 105, 0);
  transition-duration: 100ms;
  cursor: pointer;
}

.login-topo {
  border-radius: 10px;
  border: 1px solid rgb(255, 128, 0);
  height: 40px;
  padding: 0 10px;
  background-color: rgb(255, 128, 0);
  color: white;
}
.login-topo:hover {
  background-color: white;
  color: rgb(255, 128, 0);
  transition-duration: 200ms;
  cursor: pointer;
}

.login-topo:active {
  background-color: rgb(255, 179, 102);
  color: rgb(209, 105, 0);
  transition-duration: 100ms;
  cursor: pointer;
}

/* FIM HEADER */

/* COMEÇO NAV */

nav {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.barra-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  height: 50px;
}

.nav-botao {
  color: rgb(255, 128, 0);
  background-color: white;
  height: 50px;
  border: none;
  padding: 0 15px;
}

.nav-botao:hover {
  background-color: rgb(255, 128, 0);
  color: white;
  transition-duration: 200ms;
}

.nav-botao-access {
  color: rgb(255, 128, 0);
  background-color: black;
  height: 50px;
  border: none;
  padding: 0 15px;
}

.nav-botao-access:hover {
  background-color: red;
  color: blue;
  transition-duration: 200ms;
}

/* FIM NAV */

/* COMEÇO BANNER TOPO */

.banner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.texto-flutuante {
  position: absolute;
  border: 1px solid rgb(255, 128, 0);
  background-color: white;
  padding: 50px;
  padding-bottom: 25px;
  bottom: 6px;
  left: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.banner-img {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid rgb(255, 128, 0);
  border-top: none;
}

.banner-text {
  color: rgb(255, 128, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner-subtext {
  color: rgb(255, 128, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 28px;
}

.btn {
  font-size: 14px;
  padding: 10px 20px;
}

.btn:link,
.btn:visited {
  background-color: rgb(255, 128, 0);
  border: 1px solid rgb(255, 128, 0);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover {
  background-color: white;
  color: rgb(255, 128, 0);
  transition-duration: 200ms;
}

.btn:active {
  background-color: rgb(255, 179, 102);
  color: rgb(209, 105, 0);
  transition-duration: 100ms;
}

/* FIM BANNER TOPO */

/* COMEÇO CONTEUDO MEIO */

.meio {
  margin-top: 70px;
  display: flex;
  gap: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.cartas-meio {
  width: 300px;
  height: 500px;
  border: 1px solid rgb(255, 128, 0);
  border-radius: 25px;
}

.meio-flex {
  display: flex;
  justify-content: center;
  color: rgb(255, 128, 0);
}

.cartas-link:link {
  text-decoration: none;
}

.cartas-link:visited {
  text-decoration: none;
}

.ph-wrench,
.ph-storefront,
.ph-newspaper {
  margin-top: 50px;
  padding: 25px 25px;
  font-size: 100px;
  color: rgb(255, 128, 0);
  border: 1px solid rgb(255, 128, 0);
  border-radius: 100px;
  height: 100px;
}

.ph-wrench:hover,
.ph-storefront:hover,
.ph-newspaper:hover {
  color: white;
  background-color: rgb(255, 128, 0);
  transition-duration: 200ms;
}

.ph-wrench:active,
.ph-storefront:active,
.ph-newspaper:active {
  background-color: rgb(209, 105, 0);
}

.cartas-meio-titulo {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 128, 0);
  font-size: 20px;
  font-weight: 800;
}

.cartas-meio-texto {
  margin: 20px 20px;
  font-size: 16px;
  text-align: center;
}

/* FIM CONTEUDO MEIO */

/* COMEÇO BARRA INFERIOR */

.barra-inferior {
  margin-top: 75px;
  height: 200px;
  background-color: rgb(255, 128, 0);
}

.barra-inferior-texto {
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.barra-inferior-info {
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.barra-inferior-nome {
  margin-right: 1px;
  height: 38px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgb(255, 128, 0);
  padding: 0 10px;
  width: 300px;
}

.barra-inferior-email {
  height: 38px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border: 1px solid rgb(255, 128, 0);
  padding: 0 10px;
  width: 300px;
}

.botao-inferior {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid rgb(255, 128, 0);
  margin-left: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  color: rgb(255, 128, 0);
}

.botao-inferior:hover {
  background-color: rgb(255, 179, 102);
  color: white;
  transition-duration: 200ms;
  cursor: pointer;
}

.botao-inferior:active {
  background-color: rgb(255, 179, 102);
  color: rgb(209, 105, 0);
  transition-duration: 100ms;
  cursor: pointer;
}
/* FIM BARRA INFERIOR */

/* COMEÇO FOOTER */

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px ;
  margin-bottom: 25px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.rodape-direita {
  font-size: 12px;
}

.rodape-link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.rodape-link:visited {
  color: black;
}

.rodape-link:hover {
  color: rgb(255, 128, 0);
}

.accessible-font-size {
  font-size: 16px;
}

.accessible-container {
  display: flex; 
  flex-direction: row; 
  width: 8%; 
  align-items: center; 
  margin-right: 2%;
}

.accessible-button {
  border-radius: 15px; 
  width: 30px; 
  height: 30px; 
  border: none; 
  background-color: rgb(255, 128, 0);
}

.accessible-button-icon {
  font-size: 16px; 
  color: white;
}

.accessible-background-color {
  /*background-color: black;*/
  background-color: white;
}